@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Define scrollbar styles for a smoother look */
body {
  scroll-behavior: smooth;
  /* Customize scrollbar for webkit browsers */
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #3b82f6 #1f2937; /* thumb color track color */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1f2937; /* Dark track for dark mode */
}
.dark body::-webkit-scrollbar-track {
  background: #111827; /* Even darker track in dark mode */
}

body::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Accent color thumb */
  border-radius: 20px;
  border: 3px solid #1f2937; /* Border matching track color */
}
.dark body::-webkit-scrollbar-thumb {
  border: 3px solid #111827;
}
